<nav class="nav">
  <div class="nav__container container">
    <div class="nav__logo">Sebastian</div>
    <div class="nav__links">
      <a href="/" class="nav__item">Inicio</a>
      <a href="servicios" class="nav__item">Servicios</a>
      <a href="about" class="nav__item">Sobre nosotros</a>
      <a href="contactame" class="nav__item">Contáctame</a>
    </div>
  </div>
</nav>